
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Global Css start here */

h2{
    font-size: 28px;
    color: black;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;

}

.container{
    width: 95%;
    max-width: 1280px;
    margin: 0px auto;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}
.heading{
    margin-bottom: 1.5rem;
}
/* Global Css end here */
/* header starts here  */


header{
    /* background-color: rebeccapurple; */
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
header .logo{
    width: 10%;
}
header .logo img{
    height: 40px;
    width: 100%;
 
}
header nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .search{
    width: 50%;
    /* background-color: yellow; */
}
header nav .gap{
    width: 25%;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .menu ul li{
    padding: 5px;
    display: inline;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}
header .menu2{
    padding: 5px;
}

header .menu2 ul li{
    padding: 5px;
    display: inline;
    text-decoration: none;
    color: black;
}

header nav input{
    height: 40px;
    width: 80%;
    border: 1px solid #eee;
    padding: 10px;
    color: #eee;
}

header nav  #signbtn{
   padding: 8px 16px;
   background-color: #f84464;
   border-radius: 5px;
   border: 0px;
   color: #fff;
}
header nav .hemburg{
  
    font-size: 30px;
    color: black;
}


/* header ends here  */

/* images slider start here */
.container .slider{
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.slider .row .column{
    
}
.slider-images{
 width: 100%;
 display: inline-flex;
 overflow: hidden;

}
.slider-images img{
    border-radius: 25px;
    /* display: none; */
}
 
/* movies start here */
.movies .main{
    position: relative;
}
.arrow{
    /* width: 5rem; */
    /* height: 5rem; */
    font-size: 30px;
    color: black;
    background-color: #eee;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    
    left: -2%;

}
.right{

    right: -2%;
}
/* movies end here */


/* images slider end here */

/* movies starts here  */
.movies .movielist{
    /* height: 400px; */
   
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    gap: 5px;
}
.movies .movielist img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
/* movies ends here  */
/* CTA start here  */
.container.CTA{
    padding: 50px 0px;
    
}
.CTA img{
height:15vh;
/* width:fit-content; */
width: 100%;
}
/* CTA end here  */

/* event list start here */
.event{
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: calc(100%/5); */
    gap: 16px;
    overflow: hidden;
    padding: 30px 0px 50px 0px;
    
}
.event img{
    width: 220px;
    /* margin: 0px 20px; */
    border-radius: 25px;
}
#premium{
 
}

.premieres{
    padding: 40px 0px;
    background-color: #2b3148;
}
.premieres .container .rowPremieres{
    display: flex;
    align-items: left;
    justify-content: left;
   
}
.premieres .right{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 1rem;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f84464;
    color:#f5f5f5;
    font-size: 35px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

.heading{
    /* padding: 0.8rem; */
}
h3{
    font-size: 2rem;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
h4{
    font-size: 1rem;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
h6{
    font-size: 16px;
    color: #c6c6c7;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin:10px 0px ;
    
}

/* event list end here */

/* discription list start here */
.dis{
    padding: 30px 0px;
}
.dislist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.dislist img{
    width: 100%;
    border-radius: 15px;
}
.content{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.cont{
   padding: 0px 10px;
}
h5{
    font-size: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
p{
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 5px;
}
.pri{
    position: relative;
}

.pri .arrow{
     width: 3rem; 
     height: 3rem; 
    font-size: 30px;
    color: black;
    background-color: #eee;
    border-radius: 100%;
    padding: 2px;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    
    left: -2%;

}
.right{

    right: -2%;
}

/* discription list end here */

/* music list start here */
.music{
    padding: 40px 0px 60px;
    
}
.musiclist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.musiclist img{
    width: 100%;
    border-radius: 25px;
}
/* music list end here */
/* footer start here */
footer{
    padding: 30px 0px;
    background-color: #313035;
}
.footer .row{
    display: flex;
    justify-content: space-between;

}
.footer .row .home{
    font-size: 30px;
    color: #838386;
    display: flex;
}
p{
    font-size: 18px;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-left: 30px;
}
#contactbtn{
    padding: 15px;
    background-color: #f84464;
    color: #f5f5f5;
    font: 18px;
    font-family: "Roboto", sans-serif;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
/* usp start here */
.usp{
    padding: 15px 0px;
    background-color:#404043 ;
}
.usp .container .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usp .container .row .column{
    width: 33%;
    text-align: center;
}
/* usp end here */

/* <!-- details start here now --> */
.details{
    padding: 20px 0px;
}

.details .container .row .column{
    padding: 5px 0px;
}
.details .container .row .column a{
    color: #c6c6c7;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
/* <!-- details end here now --> */

/* footer end here */